<h1>Liste des marchandises</h1>
<table>
    <tr>
        <th>Marchandise</th><th>Prix en dhrs/kilo</th>
    </tr>
    {{#each this}}
    <tr>
        <td>{{name}}</td><td>{{price}}</td>
    </tr>
    {{/each}}
</table>