<form>
  <h1>Nouvelle marchandise</h1>
  <hr/>
  <input type="submit" value="Enregistrer la marchandise" formaction="/saveProduct/view/product/productEdit" formmethod="post"/> 
  <br/><br/>
  
  <input name="id" type="hidden" value="{{id}}"/>

  <label>Marchandise :</label><input id="name" name="name" type="text" value="{{name}}"/> 
  <br/><br/>
  <label>prix du kilo :</label><input id="price" name="price" type="number" value="{{price}}"  pattern="[0-9]+([\.,][0-9]+)?" step="0.01" /> 
  <br/><br/>

</form>  
