<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>Menu !</h1>
    <p>{{title}}</p>
    <p>Hello {{nom}} {{prenom}}</p>
    <ul>
        {{#each menuitems}}
        <li><a href="{{path}}">{{label}}</a></li>
        {{/each}} 
    </ul>
</body>

</html>