<h1>Liste des ventes</h1>
<table>
    <tr>
        <th>Date</th>
        <th>Client</th>
        <th>Montant</th>
        <th>Détails</th>
    </tr>
    {{#each this}}
    <tr>
        <td valign="top">{{dateString}}</td>
        <td valign="top"><a href="/editInvoice/view/invoice/invoiceEdit?id={{id}}">{{customer.name}}</a></td>
        <td valign="top">{{total}}</td>
        <td>
            {{#each invoiceProducts}}
            {{total}}dhrs pour {{quantity}}kg de {{product.name}} à raison de {{price}} dhrs/kg <br>
            {{/each}}
        </td>
    </tr>
    {{/each}}
</table>