<script>
  function computeProductPrice(index) {
    var productId = document.getElementById("invoiceProducts"+index+".productId").value;
    var quantity = document.getElementById("invoiceProducts"+index+".quantity").value;
    
    if (productId=="" || quantity=="") {
      return 0;
    }
    //alert("index:"+index+", productId:"+productId+", quantity:"+quantity);

    var total = 0;
      {{#each products}}
    if (productId=="{{id}}") {
      document.getElementById("invoiceProducts"+index+".price").value = {{price}};
      total = parseFloat("{{price}}")*parseFloat(quantity);
      document.getElementById("invoiceProducts"+index+".total").value = total;
    }
      {{/each}}

    return total;
  }

  function computeInvoicePrice() {
    var total = 0;
      {{#each invoiceProducts}}
    total += computeProductPrice({{@index}});
      {{/each}}
      alert(total);
    document.getElementById("total").value = total;
    document.getElementById("reste").value = (total - document.getElementById("paye").value).toFixed(2) ;
    return total;
  }
</script>
<form>
  <h1>Nouvelle vente</h1>
  <hr/>
  <input type="submit" value="Enregistrer la vente" formaction="/saveInvoice/view/invoice/invoiceEdit" formmethod="post"/> 
  <input type="submit" value="Ajouter Marchandise" formaction="/addInvoiceProduct/view/invoice/invoiceEdit" formmethod="post"/> 
  <br/><br/>
  <input name="id" type="hidden" value="{{id}}"/>

  <label>Client :</label>
  <select  id="customerId" name="customerId"  onchange="displayHideNewCustomerFied();" >
    <option value="new.customer">***Nouveau client</option>
      {{#each customers}}
    <option value="{{id}}">{{name}}</option>
      {{/each}}
  </select>

  <input id="newCustomer" name="newCustomer" type="text" value=""/> <!-- a afficher uniquement si ***Nouveau client sélectionner-->

  <br>
  <br>
  <label>Date :</label>  <input id="date" name="date" type="date" format="dd-mm-yyyy" value="{{date}}"/>

  <h1>Liste des marchandises</h1>

  <table border="0">
    <tr>
      <td>Marchandises</td>
      <td>Quantité (en kg)</td>
      <td>Prix au kg (en dhrs)</td>
      <td>Total (en dhrs)</td>
    </tr>
    {{#each invoiceProducts}} 
    <tr>
      <td>
        <select id="invoiceProducts{{@index}}.productId" name="invoiceProducts{{@index}}.productId" onchange="computeInvoicePrice();">
            <option value="">--Marchandise--</option>
            {{#each ../products}}
            <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
      </td>
      <td><input id="invoiceProducts{{@index}}.quantity" type="number" name="invoiceProducts{{@index}}.quantity" value="{{quantity}}" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" onchange="computeInvoicePrice()"></td>
      <td><input id="invoiceProducts{{@index}}.price" type="number" readonly name="invoiceProducts{{@index}}.price" value="{{price}}" ></td>
      <td><input id="invoiceProducts{{@index}}.total" type="number" readonly name="invoiceProducts{{@index}}.total" value="{{total}}" ></td>
    </tr>
    {{/each}}
    <tr>
        <td></td>
        <td colspan="2" align="right">Montant à payer (en dhrs):</td>
        <td><input id="total" type="number" readonly name="total" value="{{total}}" /></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" align="right">Montant payé (en dhrs):</td>
        <td><input id="paye" type="number" name="paye" value="{{paye}}"  pattern="[0-9]+([\.,][0-9]+)?" onchange="computeInvoicePrice()" /></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" align="right">Reste à payer (en dhrs):</td>
        <td><input id="reste" type="number" readonly name="reste" value="{{reste}}" /></td>
    </tr>
  </table>
</form>

<script>
  {{#if customerId}}
  document.getElementById("customerId").value='{{customerId}}';
  {{/if}}
  displayHideNewCustomerFied();
  document.getElementById("newCustomer").value='{{newCustomer}}';
    {{#each invoiceProducts}} 
  document.getElementById("invoiceProducts{{@index}}.productId").value='{{productId}}';
    {{/each}}
</script>
