<form>
  <h1>Nouveau client</h1>
  <hr/>
  <input type="submit" value="Enregistrer le client" formaction="/saveCustomer/view/customer/customerEdit" formmethod="post"/> 
  <br/><br/>
  
  <input name="id" type="hidden" value="{{id}}"/>

  <label>Nom du client:</label><input id="name" name="name" type="text" value="{{name}}"/> 
  <br/><br/>
  <label>Adresse du client : </label><input id="address" name="address" type="text" value="{{address}}" /> 
  <br/><br/>

</form>  
