<!DOCTYPE html>
<html lang="en">
<head>
  <title>CSS Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/view/scripts/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/view/styles/styles.css">
</head>
<body>
<!--
<h2>CSS Layout Float</h2>
<p>In this example, we have created a header, two columns/boxes and a footer. On smaller screens, the columns will stack on top of each other.</p>
<p>Resize the browser window to see the responsive effect (you will learn more about this in our next chapter - HTML Responsive.)</p>
-->
<header>
  <h2>Point de vente</h2>
</header>

<section>
  <nav>
      <ul>
          {{#each menuitems}}
          <li><a href="{{path}}">{{label}}</a></li>
          {{/each}} 
      </ul>
  </nav>
  
  <article>
    {{>view  model}}
  </article>
</section>

<footer>
  <p>@Footer</p>
</footer>

</body>
</html>
